<!DOCTYPE html>
<html>
 
<head>
    <link rel="stylesheet" href="/css/table.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
</head>
<body>   
    <div class="main">
           <form id="adminform">
            <p>
                <label for="time"> Time: </label>
                    <input type="text" id="time" />
            </p>
 
            <p>
                <label for="slot"> slot : </label>
                    <input type="text" id="slot" />
            </p>

            <p>
                <button type="submit">ADD</button>
            </p>
 
        </form>
    </div>
    <script src="admin.js"></script>
</body>
 
</html>