<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
    </head>
    <body>
      
      <form class="form" id="bookingform">
        <p>
        <input type="text" id="name" placeholder="name">
        </p>
        <p>
        <input type="email" id="email" placeholder="email">
        </p>
               

        <button type="submit">Book</button>
        
      </form>
    
    </body>
 
    <script src="form.js"></script>
    
</html>